<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Lyrics</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="topline"></div>
	<div id="page_container">
		<div th:replace="fragments/header :: header"></div>
		<div id="welcome">
			<h2 id="welcome_h1">Welcome here!</h2>
			<i>localhost:8080 is a huge collection of song lyrics, album information from endless number of artists.<br>
				Browse our lyrics and artists database, simply search by keywords.</i><br><br>
			<b>Tipps:</b><br>
			<t>- Use the toplist page to see the most viewed songs.<br>
			- Rankings page will show you the best users in our site.<br>
			- Upload your own lyrics after signed up.
			<br><br>
			Have fun :)
		</div>
		<div id="main_content">
		</div>
	</div>
</body>
</html>