<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Lyrics</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="topline"></div>
	<div id="page_container">
		<header id="header">
			<div id="logo"><a th:href="@{/}"><img th:src="@{/images/logo.png}"/></a></div>
			<div id="header_content">
				<div id="menu_content">
					<!-- TÖBB GOMB KELL !!!!!!!!!!!!!!!-->
					<a class="menubar" th:href="@{/toplist}">Toplist</a>
					<a class="menubar" th:href="@{/ranking}" >Ranking</a>
				</div>
                <div sec:authorize="isAuthenticated()">Csá</div>
				<a th:href="@{/login}" class="loginBtn">Log In</a>
				<a th:href="@{/registration}" class="regBtn">Sign Up</a>
			</div>
		</header>
		<div id="searchbar">
			<div id="searchbar_content">
				<input id="search" type="text" name="search" autocomplete="off" placeholder="Search for lyrics or artist...">
				<div id="radio_buttons">
					<div>
						<label class="radio_button_style">
							<input type="radio" name="qtype" id="radio1" value="1" checked="checked">
							<span>Artist</span>
						</label>
					</div>
					<div>
						<label class="radio_button_style">
							<input type="radio" name="qtype" id="radio2" value="2">
							<span>Lyrics</span>
						</label>
					</div>
					<div>
						<label class="radio_button_style">
							<input type="radio" name="qtype" id="radio3" value="3">
							<span>Album</span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div id="welcome">
			<h2 id="welcome_h1">Welcome here!</h2>
			Lyrics.com is a huge collection of song lyrics, album information and featured video clips from endless number of artists — collaboratively assembled by contributing editors.

			Browse our lyrics and artists database alphabetically or simply search by keywords. Lyrics can be rated, heard using song videos and even translated to many common and not so common languages.
		</div>
		<div id="main_content">
			MAIN CONTENT
		</div>

	</div>
</body>

</html>