<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lyrics</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/loginReg.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="topline"></div>
	<div id="page_container">
		<div th:replace="fragments/login_reg :: header"></div>
		<!--BEJELENTKEZŐ PANEL-->
		<div id="loginForm" class="modalLogin">
			<form th:action="@{/login}" method="POST" class="modal-content">
				<div class="container">
					<h1 class="titleForm">Log in</h1>

					<label><b>Email</b></label>
                    <input type="text" id="email" name="email" placeholder="Enter Email Address">

					<label><b>Password</b></label>
					<input type="password" id="password" name="password" placeholder="Enter Password">

					<div class="clearfix">
						<a th:href="@{/}" class="cancelbtn">Cancel</a>
						<button name="Submit" value="Login" type="Submit" class="signupbtn">Log In</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>