<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lyrics</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/loginReg.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="topline"></div>
	<div id="page_container">
		<header id="header">
			<div id="logo"><a th:href="@{/index}"><img th:src="@{/images/logo.png}"/></a></div>
			<div id="header_content">
				<div id="menu_content">
					<!-- TÖBB GOMB KELL !!!!!!!!!!!!!!!-->
					<a class="menubar" th:href="@{/toplist}">Toplist</a>
					<a class="menubar" th:href="@{/ranking}" >Ranking</a>
				</div>
				<a href="login.html" class="loginBtn">Log In</a>
				<a href="registration.html" class="regBtn">Sign Up</a>
			</div>
		</header>
		<div id="searchbar">
			<div id="searchbar_content">
				<input id="search" type="text" name="search" autocomplete="off" placeholder="Search for lyrics or artist...">
				<div id="radio_buttons">
					<div>
						<label class="radio_button_style">
							<input type="radio" name="qtype" id="radio1" value="1" checked="checked">
							<span>Artist</span>
						</label>
					</div>
					<div>
						<label class="radio_button_style">
							<input type="radio" name="qtype" id="radio2" value="2">
							<span>Lyrics</span>
						</label>
					</div>
					<div>
						<label class="radio_button_style">
							<input type="radio" name="qtype" id="radio3" value="3">
							<span>Album</span>
						</label>
					</div>
				</div>
			</div>
			<!--searchbar, radio buttons ... -->
		</div>
		<!--BEJELENTKEZŐ PANEL-->
		<div id="loginForm" class="modalLogin">
			<form class="modal-content" action="/action_page.php">
				<div class="container">
					<h1 class="titleForm">Log in</h1>

					<label for="username"><b>Username</b></label>
					<input id="usernameLogin" type="text" placeholder="Enter Username" name="username" required>

					<label for="psw"><b>Password</b></label>
					<input id="passwordLogin" type="password" placeholder="Enter Password" name="psw" required>

					<div class="clearfix">
						<a th:href="@{/index}" class="cancelbtn">Cancel</a>
						<button type="submit" class="signupbtn">Log In</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>