<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Lyrics</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/lyricsupload.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="topline"></div>
	<div id="page_container">
		<div th:replace="fragments/header :: header"></div>
		<div class="toplist">
			<h2 id="welcome">Lyrics Upload</h2>
			<div class="lyrics_detail_container">
				<form th:action="@{/lyricsupload}" id="uploadForm" autocomplete="off"
					  th:object="${lyrics}" method="POST" role="form">
					<input type="text" th:field="*{author}" placeholder="Author" class="basicinput" />
					<input type="text" th:field="*{album}" placeholder="Album" class="basicinput" />
					<input type="text" th:field="*{title}" placeholder="Title" class="basicinput" />

					<textarea form ="uploadForm" class="lyrics" th:field="*{lyricstext}"></textarea>
					<span class="succesReg" th:utext="${successMessage}">Successfull upload!</span>

					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

					<button type="submit" class="upload_button">Upload</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>