<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Lyrics</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="topline"></div>
<div id="page_container">
    <div th:replace="fragments/header :: header"></div>
    <div id="profile_content">
        <h3 id="welcome_h1">Welcome:</h3>
        <h3 id="welcome_h1" th:text="${userName}"></h3>
        <div id="profile_div">
            <img id="profile_picture" th:src="@{/images/default_picture.png}"/>
            <table id="user_table">
                <tr>
                    <td>
                        username:
                    </td>
                    <td th:utext="${userName}">
                        Basic Username
                    </td>
                </tr>
                <tr>
                    <td>
                        Mi a rangom:
                    </td>
                    <td th:utext="${rang}">
                        Basic Rang
                    </td>
                </tr>
                <tr>
                    <td>
                        emailcímem:
                    </td>
                    <td sec:authentication="name">
                        Basic@Example.com
                    </td>
                </tr>
            </table>

        </div>
        <div id="user_activity">
            <h2 id="activity_title">My Activity</h2>
            <table id="activity_table">
                <thead>
                <th>
                    Author
                </th>
                <th>
                    Album
                </th>
                <th>
                    Title
                </th>
                <th>
                    Votes
                </th>
                <th>
                    Link
                </th>
                </thead>

                <tr th:each="lyrics : ${lyricses}">
                        <td th:text="${lyrics.getAuthor()}">
                            music author
                        </td>
                        <td th:text="${lyrics.getAlbum()}">
                            music album
                        </td>
                        <td th:text="${lyrics.getTitle()}">
                            music title
                        </td>
                        <td th:text="${lyrics.getVoteCounter()}">
                            vote for music
                        </td>
                        <td>
                            <a th:href="@{/showlyrics}" style="color: blue;" th:text="${lyrics.getId()}">show</a>
                        </td>
                </tr>

            </table>
        </div>
    </div>
</div>
</body>

</html>