<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Lyrics</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="topline"></div>
<div id="page_container">
    <header id="header">
        <div id="logo"><img th:src="@{/images/logo.png}"/></div>
        <div id="header_content">
            <div id="menu_content">
                <a class="menubar" th:href="@{/lyricsupload}">Lyrics upload</a>
                <a class="menubar" th:href="@{/toplist}">Toplist</a>
                <a class="menubar" th:href="@{/ranking}" >Ranking</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="loginBtn">Log In</a>
                <a th:href="@{/registration}" class="regBtn">Sign Up</a>
            </div>
            <div id="loggedIn" sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}" th:text="${userName}" class="loginBtn">Profile</a>
                <a th:href="@{/logout}" class="regBtn">LogOut</a>
            </div>
        </div>
    </header>
    <div id="searchbar">
        <div id="searchbar_content">
            <input id="search" type="text" name="search" autocomplete="off" placeholder="Search for lyrics or artist...">
            <div id="radio_buttons">
                <div>
                    <label class="radio_button_style">
                        <input type="radio" name="qtype" id="radio1" value="1" checked="checked">
                        <span>Artist</span>
                    </label>
                </div>
                <div>
                    <label class="radio_button_style">
                        <input type="radio" name="qtype" id="radio2" value="2">
                        <span>Lyrics</span>
                    </label>
                </div>
                <div>
                    <label class="radio_button_style">
                        <input type="radio" name="qtype" id="radio3" value="3">
                        <span>Album</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="profile_content">
        <h3 id="welcome_h1">Welcome userName!</h3>
        <div id="profile_div">
            <img id="profile_picture" th:src="@{/images/default_picture.png}"/>
            <table id="user_table">
                <tr>
                    <td>
                        username:
                    </td>
                    <td th:utext="${userName}">
                        Basic Username
                    </td>
                </tr>
                <tr>
                    <td>
                        Mi a rangom:
                    </td>
                    <td th:utext="${rang}">
                        Basic Rang
                    </td>
                </tr>
                <tr>
                    <td>
                        emailcímem:
                    </td>
                    <td sec:authentication="name">
                        Basic@Example.com
                    </td>
                </tr>
            </table>

        </div>
        <div id="user_activity">
            <h2 id="activity_title">My Activity</h2>
            <table id="activity_table">
                <thead>
                <th>
                    Author
                </th>
                <th>
                    Album
                </th>
                <th>
                    Title
                </th>
                <th>
                    Votes
                </th>
                </thead>
                <tr th:each="lyrics : ${lyricses}">
                    <td th:text="${lyrics.getAuthor()}">
                        music author
                    </td>
                    <td th:text="${lyrics.getAlbum()}">
                        music album
                    </td>
                    <td th:text="${lyrics.getTitle()}">
                        music title
                    </td>
                    <td th:text="${lyrics.getVoteCounter()}">
                        vote for music
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>

</html>