<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Lyrics</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/showlyrics.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="topline"></div>
	<div id="page_container">
		<div th:replace="fragments/header :: header"></div>
		<div id="main_content">
			<div class="lyrics_container">
				<div class="author_album_title_container" th:each="lyrics : ${lyricses}">
					<div class="details">
						<span>Author:</span>
						<span th:utext="${lyrics.getAuthor()}">Nem sikerült betölteni a dalszerzőt :(</span>
					</div>
					<div class="details">
						<span>Album:</span>
						<span th:utext="${lyrics.getAlbum()}">Nem sikerült betölteni az albumot :(</span>
					</div>
					<div class="details">
						<span>Title:</span>
						<span th:utext="${lyrics.getTitle()}">Nem sikerült betölteni a zenecímet :(</span>
					</div>
					<div class="lyrics">
						<p th:utext="${lyrics.getLyricstext()}">
						Nem sikerült betölteni a dalszöveget :(
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>