<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Lyrics</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/showlyrics.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="topline"></div>
	<div id="page_container">
		<div th:replace="fragments/header :: header"></div>
		<div id="main_content">
			<div class="lyrics_container" th:each="lyrics : ${lyricses}">
				<table id="show_table" frame="box">
					<thead>
					<th>
						Author
					</th>
					<th>
						Album
					</th>
					<th>
						Title
					</th>
					<th>
						Popularity
					</th>
					</thead>
					<tbody>
					<tr>
						<td th:text="${lyrics.getAuthor()}">author
						</td>
						<td th:text="${lyrics.getAlbum()}">album
						</td>
						<td th:text="${lyrics.getTitle()}">title
						</td>
						<td th:text="${lyrics.getSearchCounter()}">
							counter
						</td>
					</tr>
					<tr>
						<td class="lyrics_td" colspan="4" th:utext="${lyrics.getLyricstext()}">
							text
						</td>
					</tr>
					</tbody>
				</table>

				</div>
			</div>
		</div>

	</div>
</body>
</html>