<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Lyrics</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/toplist.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="topline"></div>
	<div id="page_container">
		<div th:replace="fragments/header :: header"></div>
		<div id="welcome">
			<h2 id="welcom_h1">Toplist</h2>
			
		</div>
		<div id="main_content">
			<div id="table_container">
				<table id="toplist_table">
                        <thead>
                        	<th>
                                #
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                Album
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Votes
                            </th>
                        </thead>
                        <tbody>
                        	<tr th:each="lyricse : ${toplyricses}">
                        		<td></td>
                        		<td th:utext="${lyricse.getAuthor()}">LilGxNemazalány</td>
                        		<td th:utext="${lyricse.getAlbum()}">Nemvolt még albumuk</td>
                        		<td th:utext="${lyricse.getTitle()}">Unikornis</td>
                        		<td th:utext="${lyricse.getVoteCounter()}">Végtelen</td>
                        	</tr>
                        </tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>